@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-crewtrace-sans), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-crewtrace-heading), ui-sans-serif, system-ui, sans-serif;
}

@theme {
  --color-primary: #2F27CE;
  --color-secondary: #DEDCFF;
  --color-background: #FBFBFE;
  --color-foreground: #000000;

  --radius-lg: 10px;
  --radius-md: 8px;
  --radius-sm: 4px;

  --shadow-button: 2px 2px 0px 1px rgb(5, 3, 21);
  --shadow-input: 0px 0px 29.1px 0px rgba(67, 59, 255, 0.25);
}

:root {
  --background: #FBFBFE;
  --foreground: #000000;
  --primary: #2F27CE;
  --secondary: #DEDCFF;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.04em;
}

@layer base {

  *,
  ::after,
  ::before {
    border-color: var(--color-foreground);
  }
}